:root {
    --fondo-oscuro: black;
    --color-blanco: #fff5ed;
    --color-amarillo: #ffd067;
    --primera-fuente: "Montserrat", sans-serif;
    --segunda-fuente: "Squada One";
  }
  body {
    background-color: var(--fondo-oscuro);
  }
  
  .header {
  /*   display: flex;
   *//*   width: 100%;
   */  height: 5rem;
   width: 100%;
   background-color: lawngreen;
   position: fixed;
   top: 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: var(--color-amarillo);
    top: 0;
    position: absolute;
    z-index: 2;
    color: black;
    padding: 20px 20px;
  }
  
  .navbar.active{
    background-color: black;
    color: #ffd067;
  }
  
  .navbar__logo {
    font-family: var(--segunda-fuente);
    font-size: 3rem;
    margin-left: 2rem;
  }
  
  .navbar__menu_button {
    background: none;
    border: none;
    font-size: 2rem;
    color:inherit; 
    margin-right: 2rem;
  }
  
  .navbar__list{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
    background-color: #ffd067;
    z-index: 1;
    top: -100rem;
    padding: 0;
    font-family: var(--primera-fuente);
  }
  
  .navbar__list li{
    margin-top: 30px;
    list-style: none;
  }
  
  .navbar__list li a{
    text-decoration: none;
    color: black;
  }
  
  .navbar__list.active{
    top: 2.3rem;
  }
  







@media screen and (min-width: 768px) {

    .navbar__logo{
      font-weight: bold;
    }
    .navbar__menu_button {
      display: none;
    }
  
    .navbar__list {
      display: flex;
      font-family: var(--primera-fuente);
    }
  
    .navbar__list li{ 
     /*  margin-right: 2rem; */
      width: max-content;
    }
  .navbar__list li:hover {
    color: #ffd067;
  }
    
  }
  